.row{
    --bs-gutter-x:0px;
}
[class^="col"]  {
    padding: 8px;
    cursor: pointer;
    &:active{
        transform: translateY(-1px);
        border: none;
    }
  }

  .custom-card{
    // width: 250px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    &--title{
        margin-top: 1rem;
        font-weight: bold;
        font-size:large;
        letter-spacing: 4px;
    }
  }