<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="custom-card">
        <div>
            <img src="assets\images\patients.png">
        </div>
        <div class="custom-card--title text-center">
            Patients
        </div>
        <div class="custom-card--title text-center">
            4000
        </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="custom-card">
        <div>
            <img src="assets\images\doctors.png">
        </div>
        <div class="custom-card--title text-center">
            Doctors
        </div>
        <div class="custom-card--title text-center">
            122
        </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="custom-card">
        <div>
            <img src="assets\images\nurse.png">
        </div>
        <div class="custom-card--title text-center">
            Nurses
        </div>
        <div class="custom-card--title text-center">
            112
        </div>
    </div>
  </div>
</div>
