<div class="input_outer">
  <div class="input_inner">
    <p style="text-align: center;margin-top: 12px;font-size: larger;">
      <b>Edit Account Details </b>
    </p>
    <form [formGroup]="patForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name </mat-label>
          <input matInput formControlName="name" placeholder="Name">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Age </mat-label>
          <input matInput formControlName="age" placeholder="Age" type="number">
          <mat-icon matSuffix>manage_accounts</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Blood Group </mat-label>
          <input matInput formControlName="blood" placeholder="Blood Group" type="text">
          <mat-icon matSuffix>local_hospital</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Address </mat-label>
          <textarea matInput placeholder="Address" formControlName="address" cdkTextareaAutosize cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="8"></textarea>
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Mobile </mat-label>
          <input matInput placeholder="Mobile Phone" formControlName="phone">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>


      <footer style="text-align: center;margin-top: 1rem;" class="fixed_bar">
        <button mat-button class="save-btn" (click)="saveChanges(patForm.value)" [disabled]="patForm.invalid">Save
          Changes</button><br><br>
          <button mat-raised-button color="primary" (click)="saveChanges(patForm.value)" >Change Email</button>
          &nbsp;&nbsp;
          <button mat-raised-button color="warn" (click)="saveChanges(patForm.value)" >Change Password</button>
      </footer>
    </form>


  </div>

</div>
