<div class="pass"> 
<div style="margin:auto">

    <header style="text-align: center;font-size: x-large;font-weight: bold;margin-bottom: 1.5rem;margin-top: 1rem;">
        Change your Password
      </header>
      <section style="text-align: center;">
        <form [formGroup]="passwordForm">
    
          <p style="margin-top: 12px;">
            <mat-form-field appearance="outline">
              <mat-label>New Password </mat-label>
              <input matInput formControlName="password" placeholder="Your New Password" type="password">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <button mat-button style="background-color: dodgerblue;color: white;" (click)="saveChanges(passwordForm.value)"
              [disabled]="passwordForm.invalid">Update Password</button>
          </p>
        </form>
      </section>
</div>

</div>
