<div class="content">
  <header>
    <input class="form-control" type="text" (keyup)="applyFilter($event)" placeholder="Search Doctors...">
  </header>
  <section class="content_top" *ngIf="doctors.length">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let doctor of doctors;let i=index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Dr.'+ doctor?.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{doctor?.dept}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="profile_section">
              <section>
                   <div class="profile_section--image">

                   </div>
              </section>
            <section class="profile_section--description">
              <b>Name:&nbsp;</b>{{'Dr.'+ doctor?.name}}<br>
              <b>Department:</b> {{doctor?.dept_name +' Department'}}<br>
              <mat-slide-toggle  [(ngModel)]="doctor.active" (change)="changeAvailability(i)">
                {{doctor.active?'Available':'Not Available'}}
              </mat-slide-toggle>
              <!-- (change)="changeAvailability(doct.id,doct.active)" -->
            </section>
            

          </div>
          <footer style="text-align: right;">
            <button class="view-btn" mat-button (click)="viewProfile(doctor.id)"> View Profile</button>
          </footer>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </section>
  <section class="content_top" *ngIf="!doctors.length" style="text-align:center"> 
    <b>
      No Doctors Registered yet!
    </b>
  </section>
</div>
<button class="sticky_btn" (click)="addDoctors()" mat-fab color="warn" ><mat-icon>add</mat-icon></button>