.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.std-padding {
  &--top {
    padding-top: 1rem;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.block-line {
  border: 1px solid grey;
  background-color: grey;
  height: 4px;
}

.no-padding {
  padding: 0px;
}

.std-margin {
  &--top {
    margin-top: 1rem;
  }

  &--bottom {
    margin-bottom: 1rem;
  }
}

.margin {
  &_top {
    &--1rem {
      margin-top: 1rem;
    }

    &--auto {
      margin-top: auto;
    }
  }

  &_btm {
    &--1rem {
      margin-bottom: 1rem;
    }

    &--auto {
      margin-bottom: auto;
    }
  }

  &_auto {
    margin: auto
  }

}

.primary {
  &_btn {
    background-color: $primary-btn-color;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.loading {
  display: flex;
  height: 40vh;

  &--spinner {
    margin: auto;
  }
}
.sticky_btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}