<div class="content">
    <header>
      <input class="form-control" type="text" (keyup)="applyFilter($event)" placeholder="Search Nurses...">
    </header>
    <section  *ngIf="!nurses.length" style="text-align: center;font-weight: bold;margin-top: 12px;">
Nurses Data is not available right now. Try again Later.
    </section>
    <section class="content_top" *ngIf="nurses.length">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let nurse of nurses;let i=index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{nurse?.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{nurse?.dept_name}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="profile_section">
                <section>
                     <div class="profile_section--image">
  
                     </div>
                </section>
              <section class="profile_section--description">
                <b>Name:&nbsp;</b>{{ nurse?.name}}<br>
                <b>Department:</b> {{nurse?.dept_name + ' Department'}}<br>
                <mat-slide-toggle  [(ngModel)]="nurse.active" (change)="changeAvailability(i)">
                  {{nurse.active?'Available':'Not Available'}}
                </mat-slide-toggle>
              </section>
  
            </div>
          </div>
        </mat-expansion-panel>
  
      </mat-accordion>
    </section>
  </div>
  
<button class="sticky_btn" (click)="addNurses()" mat-fab color="warn" ><mat-icon>add</mat-icon></button>