<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="profile_pic">
      <div class="profile_pic--placeholder">
        Profile Pic Goes Here
      </div>
    </div>
    <div class="description">
      <span class="block text-center full-width roboto--wtbold font-large">{{'Dr. '+data?.name}}</span>
      <mat-list>
        <div mat-subheader>Work</div>
        <mat-list-item>
          <mat-icon mat-list-icon>domain</mat-icon>
          <div mat-line><b>Department</b></div>
          <div mat-line> {{data?.dept_name}} &nbsp;<mat-icon style="font-size: 16px;">create</mat-icon>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="data.available_time">
          <mat-icon mat-list-icon>watch</mat-icon>
          <div mat-line><b>Timings</b></div>
          <div mat-line> {{data?.available_time}} &nbsp;<mat-icon style="font-size: 16px;">create</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Availability</div>
        <mat-list-item>
          <div mat-line>
            <mat-slide-toggle  [(ngModel)]="data.active" (change)="changeAvailability()">
              {{data.active?'Available':'Not Available'}}
            </mat-slide-toggle>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Delete Account</div>
        <mat-list-item>
          <div mat-line>
        <button mat-button color="warn" (click)="deleteDoctor(data.id)"><mat-icon>delete</mat-icon>Delete Doctor</button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Personal Info">
        <app-personal-info-tab emp_type="1" emp_id="{{id}}"></app-personal-info-tab>
      </mat-tab>
      <mat-tab label="Appointments">
        <app-view-doctors-appointments emp_id="{{id}}"></app-view-doctors-appointments>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
