@import "../../app.component.scss";
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
.content
{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    font-weight: bold;
    &:focus
    {
        outline: none;
        border: 2px solid black;
    }
  }
  @keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
.loginForm
{
    min-width: 40%;
    text-align: center;
    padding: 12px;
    animation: movefromtop 2s ease-out 1s;
    animation-fill-mode: backwards;
    
}



.loginBtn
{
    background-color: $primary-btn-color;
    color: white;
    width: 100%;    
}
.link-btn{
    color: dodgerblue;
&:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
}

