<div class="main" >
    <section style="text-align: center;">
    <img src="assets\images\delete.png">
    </section>
    <p style="margin-top: 1rem;font-size: medium;font-weight: bold;text-align: center;">
        {{recieved_data?.message}}
    </p>
    <footer style="display: flex;margin-top: 2rem;">
        <div style="width: 100%;text-align: center;padding: 4px;">
        <button mat-button color="warn" style="display:inline-block;"> <mat-icon>clear</mat-icon>&nbsp;No</button>
        </div>
        <div style="width: 100%;text-align: center;padding: 4px;">
        <button mat-raised-button style="display:inline-block;" color="warn"> <mat-icon>delete</mat-icon>&nbsp;Yes </button>
        </div>
    </footer>
</div>
